.callout[data-callout="theorem"] {
  --callout-color: 138, 92, 245;
  --callout-icon: book-text;
}

.callout[data-callout="definition"] {
  --callout-color: 245, 204, 92;
  --callout-icon: pencil;
}

.callout[data-callout="proof"] {
  --callout-color: 168, 254, 255;
  --callout-icon: lightbulb;
}

.callout[data-callout="proposition"] {
  --callout-color: 92, 245, 95;
  --callout-icon: file-text;
}

.callout[data-callout="exercise"] {
  --callout-color: 245, 166, 92;
  --callout-icon: pen;
}
