.inline-title {
    padding-bottom: 10px;
    border-bottom: 4px solid var(--hr-color);
}

h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--hr-color);
}

mjx-math {
  font-size: 130% !important;
}
