/* Colors fix */
.theme-dark {
	--background-secondary: hsl(
		var(--base-h),
		var(--base-s),
		calc(var(--base-d) - 4%)
	) !important;
	--background-secondary-alt: hsl(
		var(--base-h),
		var(--base-s),
		calc(var(--base-d) - 2%)
	) !important;
	--background-modifier-error: #700000 !important;
	--background-modifier-error-rgb: 112, 0, 0 !important;
	
	--text-error: #FF3030;
}

/* Table width fix */
.cm-embed-block.markdown-rendered .block-language-dataview,
.markdown-rendered table,
.markdown-rendered .table-view-table {
	margin-left: auto !important;
	margin-right: auto !important;
	width: inherit !important;
}

/* Table border color */
.cm-embed-block.markdown-rendered .block-language-dataview th,
.cm-embed-block.markdown-rendered .block-language-dataview td,
.markdown-rendered table th,
.markdown-rendered table td,
.markdown-rendered .table-view-table th,
.markdown-rendered .table-view-table td,
 {
	border-color: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 10%)) !important;
	border-collapse: collapse !important;
}

/* Table border color @ admonitions */
.admonition table th,
.admonition table td,
.admonition .table-view-table th,
.admonition .table-view-table td,
.admonition hr {
	border-color: hsl(var(--base-h), var(--base-s), calc(var(--base-d) + 25%)) !important;
	border-collapse: collapse !important;
}
